<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="QBR.RecordManagerModule.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <QBR.RecordManagerModule.Properties.Settings>
            <setting name="ProteusSamplingInterval" serializeAs="String">
                <value>0.02048</value>
            </setting>
            <setting name="ProteusStartTime" serializeAs="String">
                <value>-1.00352</value>
            </setting>
            <setting name="CryptoProvider" serializeAs="String">
                <value>System.Security.Cryptography.MD5CryptoServiceProvider</value>
            </setting>
        </QBR.RecordManagerModule.Properties.Settings>
    </userSettings>
</configuration>